.vscode
Homework2/p1Output.pgm
Homework2/p2Output.pgm
Homework2/p3
Homework2/p3Output.pgm
Homework4/.#README.org
Homework4/#README.org#
*.o
Homework4/OLD_README.txt
Homework4/README.pdf
Homework4/README.tex
*~
Homework4/s2
Homework4/s3
